Importemos un DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('DatosDemograficosT.csv')

In [3]:
data.head()

,Nombre del Pais,Codigo de Pais,Tasa de Natalidad,Usuarios de Internet,Grupo de ingresos
0,Aruba,ABW,10.244,78.9,Ingreso alto
1,Afghanistan,AFG,35.253,5.9,Ingreso bajo
2,Angola,AGO,45.985,19.1,Ingreso medio alto
3,Albania,ALB,12.877,57.2,Ingreso medio alto
4,United Arab Emirates,ARE,11.044,88.0,Ingreso alto

In [6]:
data.rename(columns = {'Usuarios de Internet':'UsuariosInternet'}, inplace = True)
data.rename(columns = {'Tasa de Natalidad':'TasaNatalidad'}, inplace = True)

In [7]:
data.head()

,Nombre del Pais,Codigo de Pais,TasaNatalidad,UsuariosInternet,Grupo de ingresos
0,Aruba,ABW,10.244,78.9,Ingreso alto
1,Afghanistan,AFG,35.253,5.9,Ingreso bajo
2,Angola,AGO,45.985,19.1,Ingreso medio alto
3,Albania,ALB,12.877,57.2,Ingreso medio alto
4,United Arab Emirates,ARE,11.044,88.0,Ingreso alto

In [12]:
data_ejem1 = data[(data.TasaNatalidad < 9) & (data.UsuariosInternet > 50)]

In [13]:
data_ejem1

,Nombre del Pais,Codigo de Pais,TasaNatalidad,UsuariosInternet,Grupo de ingresos
45,Germany,DEU,8.5,84.1700,Ingreso alto
68,Greece,GRC,8.5,59.8663,Ingreso alto
74,"Hong Kong SAR, China",HKG,7.9,74.2000,Ingreso alto
86,Italy,ITA,8.5,58.4593,Ingreso alto
89,Japan,JPN,8.2,89.7100,Ingreso alto
95,"Korea, Rep.",KOR,8.6,84.7700,Ingreso alto
142,Portugal,PRT,7.9,62.0956,Ingreso alto

In [14]:
import os

In [15]:
os.getcwd()

'C:\\Users\\Usuario\\Documents\\Curso Python Data Science\\Complementos de Consulta'

In [18]:
data_ejem1.to_csv('C:\\Users\\Usuario\\Documents\\Curso Python Data Science\\Complementos de Consulta\\NuevoDataFrame.csv',\
                 index=False)
# Hasta al último se escribe el nombre del nuevo DataFrame a exportar.
# index: esta instrucción hace que no se exporte el índice del dataframe (o número de renglón en nuestro caso).
# Si quieres que se exporte, puedes no poner esa instrucción.

In [19]:
data_ejem1.to_csv('C:\\Users\\Usuario\\Documents\\Curso Python Data Science\\Complementos de Consulta\\IndexDataFrame.csv')